#builder {
  max-width: 740px;
  margin: 0 auto;
  padding: 0.7rem;
  min-height: calc(100vh - 70px - 1rem);
}

.form-col-title {
  position: relative;
  height: 3rem;
}

.form-col-title-value {
  height: 100%;
  z-index: 1;
}

.form-col-title-placeholder {
  position: relative;
  top: -3rem;
  color: #b3b3b1;
  pointer-events: none;
}
