.btn-toolBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background-color: rgb(233, 243, 236);
  color: rgb(100, 150, 116);
  border-radius: 20px;
  border: none;
  cursor: pointer;

  &.active + .toolBox-menu {
    visibility: visible;
    opacity: 1;
  }
}

.toolBox-arrow-dropdown-icon {
  position: absolute;
  right: 20px;
  fill: rgb(100, 150, 116);
}

.toolBox-menu {
  display: flex;
  flex-wrap: wrap;
  visibility: hidden;
  opacity: 0;
}

.toolBox-menu-item {
  flex-basis: 33%;
  height: 60px;
  background: pink;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toolBox-add-icon {
  fill: rgb(100, 150, 116);
}

.toolBox-icon-and-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}
