.cmp-textInput {
  div {
    position: relative;
  }

  span {
    position: absolute;
    left: 0;
    top: -1px;
    pointer-events: none;
    color: lightgrey;
    padding: 0.4rem 0.7rem;
    height: 100%;
    letter-spacing: 0.05em;
  }
}
