.cmp-controlWrapper {
  position: relative;
  &:hover {
    outline: 2px solid lightblue;
  }
}
.ctrl-label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0;
  border: none;

  br {
    display: none;
  }
}
.dummy-label {
  position: absolute;
  top: 0;
  color: #b3b3b1;
  pointer-events: none;
}
