@import url("./utility.css");

:root {
  --base-font-size: 100%;
  --base-line-height: 1.4;
  --line-height-small: 1.26;
  --line-height-big: 1.16;
  --font-small: 0.804rem;
  --font-normal: 1.125rem;
  --font-normalx2: 1.175rem;
  --font-M: 1.414rem;
  --font-L: 1.788rem;
  --font-XL: 2.53rem;
}

@media (min-width: 35em) {
  :root {
    --line-height-small: 1.36;
    --line-height-big: 1.23;
    --base-font-size: 120%;
    --base-line-height: 1.5;
  }
}

label {
  color: rgba(0, 0, 0, 0.74);
  display: block;
}

label + * {
  margin-top: 0.5rem;
}

nav {
  height: 70px;
  padding: 0 0.5rem;
  background-color: #f1f1f1;
}

ul {
  list-style: none;
  text-align: left;
  overflow: hidden;
}

ul.flex > * {
  margin-right: 0.5rem;
}
[aria-pressed="true"] {
  outline: 2px solid blue;
}
button {
  font-family: inherit;
  display: inline-block;
  border-radius: 99999rem;
  font-weight: 500;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  appearance: none;
  padding: 0.3em 1.5em;
  border: 2px solid blue;
  background-color: transparent;
  width: 100%;
}

input {
  font-family: "Inter UI", "Helvetica Neue", HelveticaNeue, Helvetica,
    Arial, sans-serif;
  height: 2.7em;
  width: 100%;
  padding: 0.4em 0.7em;
  color: rgba(0, 0, 0, 0.76);
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  border: 2px solid #e0e0e0;
  border-radius: 0.2em;
  outline: 0;
  box-shadow: none;
}

input:focus {
  border-color: #2962ff;
}

input.invalid {
  border-color: #ff1744;
}

h1,
.h1,
h2,
.h2 {
  line-height: var(--line-height-big);
}

h1 {
  font-size: var(--font-L);
}

h3,
.h3,
h4,
.h4 {
  line-height: var(--line-height-small);
}

* {
  box-sizing: inherit;
  font-family: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
}

* + * {
  margin-top: 1.5em;
}

body,
br,
li,
dt,
dd,
th,
td,
option {
  margin-top: 0;
}

html {
  font-family: -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  font-style: normal;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  /* Font varient */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  word-wrap: break-word;
  color: rgba(0, 0, 0, 0.84);
}

strong {
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}
