@import url("./utility.scss");
// @import "@material/textfield/mdc-text-field";
// source https://codepen.io/MadeByMike/pen/bEEGvv
// https://www.sassmeister.com/gist/7f22e44ace49b5124eec
$baseline: 3.5rem;
// These values are the minimum and maximum viewport sizes to apply the font scaling
$minWidth: 20;
$maxWidth: 35;
// These values represent the range of fon-tsize to apply
// These values effect the base font-size, headings and other elements will scale proportionally
$minFont: 1;
$maxFont: 1;

$h1: 2rem;
$h2: 1.5rem;
$h3: 1.25rem;
$h4: 1rem;
$h5: 0.875rem;

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: $baseline;
}

h1 {
  font-size: $h1;
  line-height: $h1;
  // margin-top: calc((#{$baseline} - #{$h1}) + #{$baseline});
}

h2 {
  font-size: $h2;
  line-height: $h2;
  // margin-top: calc((#{$baseline} - #{$h2}) + #{$baseline}* 2);
}

h3 {
  font-size: $h3;
  line-height: $h3;
  // margin-top: calc((#{$baseline} - #{$h3}) + #{$baseline}* 2);
}

h4 {
  font-size: $h4;
  line-height: $h4;
  // margin-top: calc((#{$baseline} - #{$h4}) + #{$baseline}* 2);
}

h5 {
  font-size: $h5;
  line-height: $h5;
  // margin-top: calc((#{$baseline} - #{$h5}) + #{$baseline}* 2);
}

nav {
  height: 70px;
  padding: 0 0.5rem;
  background-color: #f1f1f1;
}

ul {
  list-style: none;
  text-align: left;
  overflow: hidden;
}

ul.flex > * {
  margin-right: 0.5rem;
}

[aria-pressed="true"] {
  outline: 2px solid red;
}

button {
  font-family: inherit;
  display: inline-block;
  border-radius: 99999rem;
  font-weight: 500;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  appearance: none;
  padding: 0.3em 1.5em;
  border: 2px solid blue;
  background-color: transparent;
  width: 100%;
}

input {
  // height: 2.7em;
  width: 100%;
  padding: 0.4em 0.7em;
  font-weight: 400;
  font-style: normal;
  // font-size: 1.2rem;
  border: 2px solid #e0e0e0;
  border-radius: 0.2em;
  outline: 0;
  box-shadow: none;
}

input:focus {
  border-color: #2962ff;
}

// input.invalid {
//   border-color: #ff1744;
// }

@media screen and (min-width: #{$minWidth}em) {
  html {
    font-size: calc(
      #{$minFont}em + (#{$maxFont} - #{$minFont}) *
        ((100vw - #{$minWidth}rem) / (#{$maxWidth} - #{$minWidth}))
    );
  }
}
@media screen and (min-width: #{$maxWidth}em) {
  html {
    font-size: #{$maxFont}rem;
  }
}
