.align-items-center {
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-xy-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
}

.mb-0 {
  margin-bottom: calc(
    var(--base-line-height) * 0.5 * var(--base-font-size)
  );
}

.mb-1 {
  margin-bottom: calc(
    var(--base-line-height) * 1.5 * var(--base-font-size)
  );
}

.mb-2 {
  margin-bottom: calc(
    var(--base-line-height) * 2 * var(--base-font-size)
  );
}

.mb-3 {
  margin-bottom: calc(
    var(--base-line-height) * 2.5 * var(--base-font-size)
  );
}

.pb-0 {
  padding-bottom: calc(
    var(--base-line-height) * 1 * var(--base-font-size)
  );
}

.pb-1 {
  padding-bottom: calc(
    var(--base-line-height) * 1.5 * var(--base-font-size)
  );
}

.pb-2 {
  padding-bottom: calc(
    var(--base-line-height) * 2 * var(--base-font-size)
  );
}

.pb-3 {
  padding-bottom: calc(
    var(--base-line-height) * 2.5 * var(--base-font-size)
  );
}
